@import '../../../common/styles/styles.scss';

.container {
  text-align: center;

  .header {
    color: $im-red;
  }

  .result-text {
    color: $im-purple;
  }

  .body {
    margin: 1rem;

    .stat {
      display: flex;
      justify-content: center;

      p{
        font-size: 1.2rem;
        color: $im-purple;
        margin-bottom: 1rem;

        &.label {
          margin-right: 1rem;
        }
      }
    }
  }

  .restart-btn {
    @include purpleBtnStyles();
    margin-bottom: 1rem;
  }
}