@import '../../../common/styles/styles.scss';

.container {
  
  .header {
    font-size: 1.5rem;
    color: $im-purple;
    text-align: center;
  }

  .body {
    padding-bottom: 2rem;

    .form {
      width: 80%;
      margin: 1rem auto;

      .error-text{
        color: $im-red;
        font-size: 1rem;
      }

      .success-text {
        color: #0a6726;

        span {
          text-decoration: underline;
          cursor: pointer;
          font-size: 1.1rem;
        }
      }

      .form-control {
        position: relative;

        label {
          color: $im-purple
        }

        .input {
          @include inputStyles();
        }

        .icon {
          cursor: pointer;
          position: absolute;
          right: 1rem;
          top: 2.1rem;
        }
      }

      .submit-btn-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;

        button {
          @include whiteBtnStyles();
          margin-bottom: 1rem;
        }
      }
    }

    .sign-in-page-link-container{
      text-align: center;
      color: $im-purple;

      p {

        span {
          text-decoration: underline;
          cursor: pointer;
          color: #000000;
        }
      }
    }
  }
}